{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
<!DOCTYPE html>

<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Domine:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Zucy <3 ________ hey, :*</title>
</head>
<body>
<div class="centered" style="font-size: 32px;">
    <p><a href="/">AwesomeHaircut</a></p>

<a href="/blog/">Blog</a> /

<a href="/about/">About</a>
</div>
</body>
</html>